*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
body{
	text-decoration: none;
	background-color: rgb(200,200,200);


}
.navbar{
	
	width: 100%;
	height: auto;
	

}
.navbar ul{
	display: inline-block;
	margin-left: 40%;
	display: inline-flex;
	

}
.navbar li{

	margin-left: 20px;
	padding: 5px;
	
}

.navbar ul li a{
	color: black;
}
.nav-brand{
	color:rgb(255,255,255);

}
.nav-brand:hover{
	color: black;
	text-decoration: none;
}

.nav-link:hover{
 color: white;
 
}

.home h1{
	padding-top: 200px;
	margin-bottom: 0;
	font-weight: 600;
	text-transform: uppercase;
}
.home h2{
	padding: 5px;
}
.home p{
	padding: 10px;
	font-size: 20px;
}
.home .btn:hover{
	background-color: green;
	color:red;
}
.jumbotron{
	background-color: rgb(200,200,200);
	margin-top: 0;
	margin-bottom: 0;
}

.container-fluid h1{
 padding: 20px;
}

.col-md-4 h2{
	padding: 10px;

}
.col-md-4 p{
	padding: 10px;
}
.col-md-6{
	padding-top: 20px;
}
.col-md-6 .education{
	margin-left: 30px;
	padding: 10px;
	margin-top: 10px;
	border-right:1px solid white;
}

	
.col-md-6 .education h5{
	font-weight: 300;
	margin-left: 20px;
}

.col-md-6 .education h4{
	font-weight: 400;
	
}
.col-md-6 .education p{
	margin-left: 20px;
}


.col-md-6 .skills{
	padding: 15px;
}


.col-md-6 .skills h6{
	color: green;
}


.col-md-6 .images{
	margin: 5px;
	padding: 10px;

}
.col-md-6 .images:hover{
	border: 1px dotted red;
	cursor: pointer;

}
.col-md-6 .images h2{
	color: rgb(50,100,200);
	font-weight: 200;
}

.col-md-4 {
	margin:auto;
}
.col-md-4 .card-img-top{
	margin-left: 20px;
	overflow: auto;
}

.col-md-4 .card-title{
	color: black;

}
.col-md-4 .card-text{
	color: green;
}

.col-md-6  h6{
	margin-top: 20px;
}

footer{
	margin-top: 20px;
	margin-bottom: 0;
	height: 50px;
}
.footer h5{
	margin-top: 20px;
}
.col-md-6 .form-control{
		margin:20px;
}
.col-md-6 .btn{
		margin:20px;
}

h1{
	color: green;
}





@media (max-width: 768px)
{	
	.navbar .nav-brand h2{
			font-size: 20px;
	}

	.home h1{
		padding-top: 100px;
		font-size: 35px;
	}

	.home h2{
		font-size: 25px;
	}
	.home p{
		font-size: 15px;
	}

	.col-md-4{
		width: 100%;
		height: auto;
	}

	.col-md-6 .education{
		margin:15px;
		padding: 5px;
		text-align: center;
		border-right:none;

		}
	
	.col-md-6 .skills{
		margin: 15px;
		padding: 5px;
		align-items: center;
		}
	.col-md-6 .images{
		margin: 20px;
		padding: 5px;
		}
	.col-md-6 .images img{
		height: 200px;
		width: 300px;
	}
	.col-md-6 .images h2{
		font-size: 30px;
		margin-top: 5px;
	}
	.col-md-6 .images h2{
		color: skyblue;
	}

	.col-md-4{
		width: 100%;
		height: auto;
	}

	.col-md-4 .card{
		justify-content: center;
		margin: 20px;
		align-items: center;
	}
	.col-md-4 .card-img-top{
		height: 100px;
		width: 200px;
	}

	.col-md-6{
		align-items: center;
		text-align: center;
	}
	.col-md-6 p{
		width:250px;
		margin-left: 35px;
		
	}
	
	.ol-md-6 .form-control{
		margin:20px;
	}
	.col-md-6 .btn{
		float: left;
	}

	.footer h5{
		font-size: 20px;
	}	
}

